* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Collapse Widget Styles */
.collapse-widget {
  margin-top: 7%;
  margin-bottom: 15px;
  min-height: 100px;
  width: 80%;
  background-color: #fff;
  border: 4px solid #f9f9f9;
}

.collapse__btn {
  margin: 20px;
  padding: 10px;
  color: #fff;
  background-color: #2d7aed;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2567c9;
    cursor: pointer;
  }
}

.show__description {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity .6s ease, max-height .6s ease;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 92%;
  border: 3px solid #f9f9f9;
  border-radius: 5px;
}

.show__description.show {
  opacity: 1;
  max-height: 200px;
}

.text {
  margin: 20px;
  padding-left: 15px;
}

.copy {
  display: flex;
  justify-content: end;
  height: 100vh;
  width: 100%;
  background-color: #f9f9f9;
}

.copy__text {
  font-size: 12px;
  font-weight: 400;
  margin-top: 20px;
  margin-right: 15px;
  text-decoration: none;
  color: #bababa;
}

/* Callback Chat Widget Styles */
.widget__container {
  position: fixed;
  bottom: 40px;
  right: 50px;
}

.show__form-btn {
  height: 80px;
  width: 80px;
  background-color: red;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: transform .3s;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1.05);
  }
}

.form__container {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 60px;
  min-width: 30%;
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
}

.form__container.visible {
  display: block;
}

.title__message {
  display: flex;
  font-size: 24px;
  font-weight: 700;
}

.message {
  width: 100%;
  height: 250px;
  outline: none;
  margin-top: 15px;
  border: 1px solid #b5b5b5;
  border-radius: 10px;
}

.submit__btn {
  width: 100%;
  height: 35px;
  margin-top: 15px;
  border: 1px solid #b5b5b5;
  border-radius: 10px;

  &:active {
    transform: scale(.9);
  }
}

.close__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: transform .2s, color .2s;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(.9);
  }
}